.dropZone {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 10rem;
  border: 1px dashed
    color-mix(in srgb, var(--primary-background-color), transparent 20%);
  border-radius: 0.5rem;
  background-color: color-mix(
    in srgb,
    var(--secondary-background-color),
    transparent 60%
  );
  cursor: pointer;
}
.hiddenInput {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.uploadContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
