.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  border-radius: 0.5rem;
}
.item {
  position: relative;
}
.image {
  width: 100%;
  min-width: 0;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
.image-index {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: calc(infinity * 1px);
  font-size: 0.875rem;
  line-height: 1;
  border: 1px solid black;
}
.remove-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
