.container {
  display: grid;
  gap: 1rem;
}
.canvas-container {
  width: 100%;
  overflow: auto;
  position: relative;
  border-radius: 0.5rem;
  border-color: var(--border);
  border-style: solid;
  border-width: 2px;
  background: var(--background);
  max-height: max(80vh, 600px);
}
.canvas {
  position: absolute;
}
.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
