.wrapper {
  display: grid;
  height: 100%;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
}
.canvas-area {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-background-color);
  background-color: color-mix(
    in srgb,
    var(--secondary-background-color),
    transparent 60%
  );
  container-type: size;
  overflow: auto;
}
.canvas-container {
  position: absolute;
  padding-block: 50cqh;
  padding-inline: 50cqw;
}
.canvas {
  position: relative;
  display: block;
}
.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
